[2016-06-17 17:41] mattsaxon opened #4 "A number of the transaction types require data to be supplied in the Request"
At the moment, the spec has no data sent to the payment application and all the data is returned in the response.

Whilst this is correct for ST and DD methods where there is no linking, the text suggests that for SCT and SDD, that the merchant providers data to the payment application.

This should be represented by a Request structure in section 4 of the specification.

[2016-06-17 18:07] mattsaxon opened #5 "Spec is missing flow"
The PMI for CT-DD is missing a flow diagram

[2016-06-20 14:39] CYV commented on #5
Matt,
you expect a flow describing the SCT  and another one for the SDD ?

[2016-06-20 18:49] mattsaxon commented on #5
Yes I think so. You may already have defined this in the original flows work though. I'm just suggesting it needs putting in the spec as per the basic card example which now has such a flow

Sent from my iPhone

[2016-06-21 13:14] CYV commented on #4
I aggree, we should set additional data in the request structure.

for the SCT payments, the merchant should provide in the request:
- remittance information
  -Iban of the merchant
- BIC related to the IBAN of the emrchant
- beneficiary identification code
- Name of the beneficiary
- purpose of the credit transfer
- category purpose of the credit transfer
  date of initiation

For the SDD CORE, t

[2016-07-01 13:14] mattsaxon commented on #5
I've added placeholders for the flows and update the CT one to be correct. We can discuss the SCT one this coming Wednesday.

[2016-07-01 13:14] #5 closed

[2016-07-01 13:26] mattsaxon commented on #4
I've updated the specification as per the above. There's lots of details to discuss on Wedneday, but the basic format of the document is ok I believe.

[2016-07-01 13:26] #4 closed

[2016-12-04 07:17] cyberphone opened #26 "Another take on the Wallet flow"
https://cyberphone.github.io/doc/defensive-publications/payment-authorization-scheme.pdf

With respect to SEPA it is (maybe) interesting noting that the proposal eliminates the need for payment scheme specific data in the Wallet/Payment App.  The point with that is creating a universal ditto.

[2017-01-05 16:42] #26 closed

[2017-01-12 15:23] mattsaxonwp opened #33 "Is supportedCountries sufficient?"
Whilst a merchant might say they accept payments from various, countries, I'm not sure we can lose the supportedNetworks field.

An example would be, what is the payment application only supports SEPA or what if the bank account only accepts payments via BACS (UK network), but not CHAPS (another UK network).

I don't see how a PaymentApplication can choose the correct route or indeed decide if a r

[2017-01-12 15:53] adamroach opened #34 "ISO 3611-2 vs. CLDR"
The `PaymentAddress` interface [defined in the Payment API](https://w3c.github.io/browser-payment-api/#paymentaddress-interface) has a `country` attribute that is defined as being the "the CLDR (Common Locale Data Repository) region code."

This specification proposes using ISO3166-2 for the `CreditTransferRequest.supportedCountries` field. While these are largely harmonized, they technically are

[2017-01-12 15:54] adamroach commented on #34
Note that I'm filing the issue on this spec, but that doesn't necessarily mean that this is the one that needs to change -- this may well be something that requires a change in the Payment API instead. What's important is consistency.

[2017-01-18 16:21] CYV commented on #33
I strongly recommend that we have both countries AND network of payments (my own vocabulary is "scheme"). For the SEPA push mechanisms, we have :
- SEPA Credit Transfer
_ SEPA instant payment (next !)

[2017-02-07 18:50] ianbjacobs commented on #33
Based on discussion on 2 Feb, we added back supportedNetworks:
https://github.com/w3c/webpayments-methods-credit-transfer-direct-debit/pull/35

[2017-02-07 18:50] #33 closed

[2017-02-07 18:57] ianbjacobs commented on #34
Changed to CLDR for consistency with PR API
https://github.com/w3c/webpayments-methods-credit-transfer-direct-debit/pull/36

[2017-02-07 18:57] #34 closed

[2017-03-01 17:30] cyberphone opened #39 "Authentication of Bank, Merchant and User/Payment Credential"
Since this is a payment method, shouldn't it be comparable to other payment methods like Apple Pay?

If that's the case the current proposal is lacking quite a lot, particularly with respect to authentication of the entities involved.  Making this an "implementer option" would effectively imply _another standardization effort_ in which the original proposal may be substantially changed or even be

[2017-03-01 20:21] adrianhopebailie commented on #39
Not so. Apple Pay is both a payment method and a scheme. This spec is just a payment method. i.e. It simply standardizes the data model exchanged via the API.

The specifics of how authentication will be down to the scheme

[2017-03-02 05:18] cyberphone commented on #39
@cyv @adrianhopebailie The line

_"How do we ensure that fields are not tampered with (e.g., malicious changes to the beneficiary)?."_

from the current draft indicates that even the authors are confused about the scope.  This not entirely obvious information belongs to the introduction of a payment method specification.

I still don't see who is going to create the scheme and why they would bothe

[2017-03-02 05:32] cyberphone opened #40 "Use of WebIDL in payment method specifications"
AFAIK, WebIDL is a language which has been developed primarily to describe data and methods in Web browsers.  Unless a specification is to to be natively implemented in browsers, it seems that the language we are dealing with rather is JSON/JSON-serializable JavaScript.  The more common way is describing such schemes is JSON-Schema, Swagger or just simple tables with types String, Number, Boolean.

[2017-03-02 05:51] cyberphone opened #41 "Brittle bank-2-merchant flows"
If step 5 or 6 in the sequence diagram fails reaching their destination, the Bank will have a different opinion than the Merchant about the status of the payment.  How are you going to deal with that?

[2017-03-03 15:23] ianbjacobs commented on #39
Our current expectation is that payment apps will take responsibility for authentication. The specification needs to ensure that payment apps have all the information they need to fulfill the DATA requirements of different payment systems (e.g., ACH, BACS, CHAPS, SEPA). If those systems have additional requirements (e.g., related to how authentication takes place), those requirements would be met

[2017-03-03 15:23] #39 closed

[2017-03-03 15:27] ianbjacobs commented on #40
We do not know in advance whether a browser will implement this specific natively.
It is also the case, for example, in the Tokenization specification that a payment
method specification could inherit data structures from another specification.
I think that this time we gain by having consistency in the approaches taken by
the W3C payment method specifications. If we find that developers of paymen

[2017-03-03 15:28] ianbjacobs commented on #41
Payment Request API includes a paymentRequestID that serves to help merchants and payment service providers reconcile their views of payments.

[2017-03-03 15:32] cyberphone commented on #39
This does not match existing Web payment systems and IMO for very good reasons.

[2017-03-03 16:41] cyberphone commented on #39
You might be interested knowing that the system described on
https://cyberphone.github.io/doc/saturn/saturn-v3-presentation.pdf#page=2
probably can do _all_ the payment methods listed above (_and several other as well_), without dragging in a _single_ payment method specific keyword (except for the type ID of course), into the payment app.

That is, it is first in step 4, payment method specific d

[2017-03-03 17:17] cyberphone commented on #41
Yes, but it is the _user_ that will have clear up this mess and that won't be fun or easy.  Effectively this method presumes that this situation [almost] never happens which may be correct.

[2017-03-04 04:52] cyberphone opened #42 "Unclear handling of non-direct payments including automatic gas stations"
Non-indirect payments are payments requiring two phases, where the second phase typically do not involve user interaction.   For automatic gas stations the first phase requires the customer in advance authorizing a _reservation_ of an amount like $200, while the second phase performs the actual payment operation matching the _measured_ volume of gas.

An example of messages used in such a scheme:

[2017-03-04 16:50] cyberphone opened #43 "Support for real time payments"
It seems "Delivery of Product" is happening after step 8.

Let's assume that the product is an air-line ticket.  How is that supposed to work?

IMO, if the underlying system doesn't support real-time payments this scheme doesn't really fit the Web.  If it OTOH does support real-time payments, it is not obvious that the outlined state diagram is the best approach since the merchant hardly needs two

[2017-03-06 07:41] mattsaxon commented on #41
I'm not clear that there is anything to "clear-up" apart from better communication of the failure. That is because when step 5 starts, the transaction has been completed and the rest of the flow from step 7 should complete as expected resulting in the contract being fulfilled.

However, there is risk here that the user will restart the transaction, perhaps resulting in duplicate charges and servic

[2017-03-06 07:46] mattsaxon commented on #42
Agreed that this is a necessary requirement, though i'd expect this sort of functionality to be required for a number of the payment methods and no be unique to CreditTransfer. A related issue was raised on Payment Request, but it was felt that this sort of functionality would be for Phase 2 if i recall. It will probably need the PaymentRequest APIs to support the request and return of a status wh

[2017-03-06 07:49] mattsaxon commented on #43
Agreed, that we should probably look to include a status in step 5 & 6 such that is is clear if the transfer has been executed or is pending.

[2017-03-06 08:51] adrianhopebailie commented on #40
This has been discussed and closed. I don't believe there is any new information here: https://github.com/w3c/webpayments/issues/133

[2017-03-06 15:07] #40 closed

[2017-03-06 15:09] ianbjacobs commented on #42
Since this is not a requirement for all payment methods, it seems this would be payment method specific, even if common across multiple payment methods. It seems that status information would be part of the payment method specific response data.

[2017-03-06 15:14] ianbjacobs commented on #41
@mattsaxon, that seems fine. Would you produce the new diagram? Thanks!

Ian

[2017-03-06 18:01] adrianhopebailie commented on #42
There is a misunderstanding about the purpose of the Web Payments API here. The API is a mechanism for a payer and payee to establish a channel for payment using the browser as a mediator.

Any payment that requires a more sophisticated exchange than a simple request and response must specify a way to establish OOB communications through the initial handshake.

This applies to all payment methods.

[2017-03-07 08:03] cyberphone commented on #42
@adrianhopebailie @ianbjacobs @cyv @mattsaxon I think you could safely close _all_ the issues I have raised because the fundamental problem is that this draft conflates transactions and user authorizations which I consider a showstopper.  Minimizing dependencies is always worth looking into.  ISO 20022 does not deal with user authorizations AFAICT.

[2017-03-07 11:17] adrianhopebailie commented on #42
You'll have to explain why you think this is the case. The Web Payments APIs very explicitly avoid dealing with authentication and authorization.

[2017-03-07 14:22] cyberphone commented on #42
This may be a terminology issue but in my opinion "checkout" is about a user authorizing a payment request.  The strength of user authorizations differ between schemes, with CNP in the low region and Apple Pay in the other end of the spectrum.

Transaction request data etc: There's no standard for bringing in Merchant data into a "push" scenario.  The draft assumes that this should be done in meth

[2017-03-07 15:06] adrianhopebailie commented on #42
Correct

Correct

None of this makes sense. The method specific Merchant data is passed in the request and response as an opaque blob of data so it IS part of another logical layer.

[2017-03-07 16:02] cyberphone commented on #42
According to @ianbjacobs the decision to use WebIDL is because this data could be natively supported in browsers.   That doesn't sound very opaque in my ears.

My idea was (and still is) moving this information to another protocol step which makes it easier dealing with different payment scenarios including POS payments not requiring Internet connectivity.  The latter may become a no-issue in the

[2017-03-07 17:52] adrianhopebailie commented on #42
Per the payment request API spec browsers are only required to pass this on as a data blob.

[2017-03-08 07:26] cyberphone commented on #43
@cyv @mattsaxon  A brief scan indicated that SEPA SCT payments are not real time at all; it may even take a "bank-day" to do such a transfer.

[2017-03-08 09:32] mattsaxonwp commented on #43
You are correct, but "SCT INST" will be real-time as will the "TCH" scheme.

I'm only peripherally aware of any real-time bank transfer schemes today, those being Ideal in Holland and Sofort in Germany.

We do need to decide if we will try to support both delayed and real-time under the same payment method. My expectation was that we would try to and only split into 2 payment methods if it became

[2017-03-08 09:35] mattsaxonwp commented on #41
I would be happy to do so, please assign to me (@mattsaxonwp) and can you add me as an admin to this repo please? I can't guarantee when I'll do it though, sorry, I'll try to prior to the f2f or at least during it.

[2017-03-08 10:19] cyberphone commented on #43
I'm just guessing here but I don't think Ideal, Sofort and their numerous "cousins" out there actually operate on the transaction layer, they probably rather authorize a payment request in the user's bank and return a "receipt" to the Merchant.  This method method seems fairly universal.  A challenge is establishing a scalable trust model for Merchants so that you don't need services like Sofort a

[2017-03-08 11:54] adrianhopebailie commented on #43
Which is fine. For the purposes of an online checkout the merchant may be happy with a receipt. That will be a function of who it;s from and how it can be verified. I'd expect systems like Sofort and Ideal to define these things and be able to pass that receipt or just a link or reference to it in the API.

That challenge is not the goal of this API though.

[2017-03-08 12:51] cyberphone commented on #43
I'm not sure I understood this; Sofort and Ideal are _services_ that only exist due to limitations in the banks' services which I would expect the API + the method in question to fix.

[2017-03-08 13:41] adrianhopebailie commented on #43
Why would you expect that?

The API fixes the fact that it is difficult to initiate a channel between the merchant and payment service provider. The PSP in this instance could be iDeal or Sofort. This API does not make it so that there is suddenly no need for payment schemes.

[2017-03-08 14:40] cyberphone commented on #43
I don't think this topic is suitable for GitHub, bailing out :-)

[2017-03-10 09:05] mattsaxonwp commented on #39
@cyberphone, can you elaborate on your "very good reasons" please?

[2017-03-10 09:35] mattsaxonwp commented on #42
@ianbjacobs

It is not for all, but it is common for many. For any push payments, it is going to be useful to understand on the return from PaymentRequest what the status is. I think an enumeration of something like "Not Started", "Funds on Hold", "Captured", "Cleared" will be needed. I just don't think we've considered this because for basic-card and tokenised-card, the status is effectively "Not

[2017-03-10 09:53] cyberphone commented on #39
@mattsaxonwp The short answer is that "checkout" is user authorization of payment requests which motivates keeping payment specifics in the background (=outside of the client), which I guess is the most common solution except in the [rare] case payment specifics have direct impact on the user experience.

[2017-03-10 11:07] adrianhopebailie commented on #42
@mattsaxon to do this we'd need to define some generic state flow that can be applied to all payments which I think is outside the scope of this group.

We should allow any payment method to express this information but leave it up to the methods to define the actual states.

[2017-03-10 17:01] mattsaxonwp commented on #42
@adrianhopebailie, I think that argument was applied the previous time this was discussed, however we have seen a number of consistent themes pop up as we've considered payment apps, and we've refactored to bring them into the PaymentRequest API, this is just another example IMO.

Yes, sure the payment app can handle this, but then the browser won't be able to understand that data and so won't be

[2017-03-10 21:06] adrianhopebailie commented on #42
Do you want the browser to understand all of this? I'm already worried about how much data is being exposed to browsers.

In any event, I think the lowest common denominator we could come up with is success/fail/unknown which I'm not sure is that useful.

I'm not against someone trying to do this but I think it will be a challenge. E.g. What state is a Bitcoin transaction in when it's waiting for

[2017-03-11 06:07] cyberphone commented on #42
I have in my own take on this topic in practice converted _Payment_ Request to become an _Authorization_ Request which I think matches what card schemes do when you for example book an hotel room.  The problem is how to display this information to a user.  In card schemes you don't, it is supplied externally or is understood which makes sense since cards do not have UIs.  Payment applications diff

[2017-03-13 14:07] adrianhopebailie commented on #42
That is incorrect. The Payment Request is a request to **initiate a payment**. It establishes a channel of communication between the payer and payee (or their agents) which may be used for any number of functions required to complete the payment.

The request contains some data that may be needed to do this (i.e. for card, nothing other than an optional list of supported networks) and the response

[2017-03-13 16:00] cyberphone commented on #42
Authorizing an "operation" **related** to the payment instrument matches the scheme used for cards.  For _my_ project _universality_ and _competitiveness_ are _key values_.

I do not have anything more to add to this topic.

[2017-03-14 08:37] adrianhopebailie commented on #42
I didn't understand this statement, can you elaborate?

[2017-03-14 22:22] cyberphone commented on #42
Well, a
- Direct payment
- Booking
- Deposit
- Card on file

represent different operations which in the card world are authorized by the customer using the card.  The goal has been finding a _secure_ and _universal_ **authorization method** not limited to cards for these scenarios that would not require changes at the payment network level (_not inventing a new payment system_).

[2017-03-16 13:15] ianbjacobs commented on #41
Hi @mattsaxon,

Sorry for the delay...apparently my notification settings were not correct and I did not see this until now. :(

You are already Admin for this repo.

Please consider that you have the action:
 https://github.com/w3c/webpayments-methods-credit-transfer-direct-debit/milestones

Ian

[2017-03-20 19:27] mattsaxonwp commented on #42
@adrianhopebailie

Well all the data is exposed to the browser anyway, I'm just discussing if we should standardise it

In PaymentRequest, when referring to the value in the complete() method, it is stated that "The user agent may use the value result to influence the user experience.". I'm wondering since we have allowed the merchant to explicitly state the result, then why a payment apps should

[2017-03-24 15:33] mattsaxon opened #46 "Push, Pull, Sync or Async?"
The CT spec was originally envisaged as an exploration of a push payment.

Recent PRs (e.g. https://github.com/w3c/webpayments-methods-credit-transfer-direct-debit/pull/44) have added the possibility of other modes of usage (i.e. pull or async).

Its need to be resolved the clarification of these different modes. The options are;

1. Have the different modes as different PMI (though in the same sp

[2017-03-24 16:29] mattsaxon opened #47 "Overload of payeePaymentIdentificationMachineReadable"
PaymentRequest makes allowance for the payee to provide a payment identifier already, therefore, we should consider if the field,  payeePaymentIdentificationMachineReadable, is credit transfer is a duplicate field.

[2017-03-24 17:24] CYV commented on #46
I had rather a flag. It could eanble merchant to begin with the "push CT", existing today and then easily migrate to "PullCT" when available.

[2017-03-24 17:38] mattsaxon commented on #46
Why would a separate PMI not allow the scenario you outline also? My preference for a separate PMI is based on the flows being different, it seems to me that flags are filters to day (in other PMIs). Though I appreciate technically, either approach works.

[2017-03-24 18:54] CYV commented on #46
But, maybe with the PMI approach, we will generate confusion just by having two different names "PushCT" and "PulCT" may be confusin for people not paraticpating directly at our works.

[2017-03-24 18:56] mattsaxon commented on #46
anyone using this will need to know the distinction regardless of how we flag it. Benefit of PMI is that you get to use the mediator/browser filter algorithm

[2017-03-24 18:57] CYV commented on #46
you win

[2017-03-24 20:27] CYV commented on #47
We put those fields into the PM part because, they are directly related to Credit Transfer and to Bank statement.

[2017-03-24 20:40] mattsaxon commented on #47
But are they the same, if so we as a minimum should point that out in the spec. Furthermore, if they are the same, why do we need to duplicate it? We could just have a note to say put payeePaymentIdentificationMachineReadable in paymentRequest.Id

[2017-03-26 08:22] cyberphone commented on #42
@adrianhopebailie @mattsaxon @CYV It seems that the latest draft (2017-03-24) featuring a "Pull-credit transfer" scheme is slowly drifting towards a (better) concept where authorizations and payments are _separated_.  What's missing is some kind of a rationale for using the pull scheme rather than the original push scheme.

In my opinion pull is only needed/motivated for non-direct payments (which

[2017-03-27 10:29] cyberphone commented on #42
The following picture is hopefully showing what I'm talking about:

![saturnauth](https://user-images.githubusercontent.com/8044211/52859382-d39b4080-312c-11e9-9157-feb33b58edc2.png)

That is, _direct payments_, _bookings_, _gas stations_ as well as _refunds_ can be supported by a payment system independent authorization scheme even if the underlying payment system cannot.  The scheme has unfortun

[2017-04-03 17:56] adrianhopebailie commented on #42
All out of scope for this WG and this specification. It sounds like you should be proposing your solution as an answer to the technical requirements of PSD2

[2017-04-03 19:25] cyberphone commented on #42
If we step back to the original issue, this specification is currently unclear on multiple points including fundamental things like how to deal with non-real-time inter-bank payment-systems like SEPA SCT in an on-line shop.  However, since the WG have decided leaving such questions to the "scheme" designers, I believe we can safely close this issue for now.

[2017-04-03 19:25] #42 closed

[2017-05-01 21:33] ianbjacobs opened #51 "Change "IBAN" to "payeeBankAccount""
This proposal was made during the Chicago FTF meeting.

[2017-05-01 21:34] ianbjacobs opened #52 "Add examples that illustrate usage for different payment systems"
This was proposed during the Chicago FTF meeting
 https://www.w3.org/2017/03/24-wpwg-minutes#item02

[2017-05-01 21:35] ianbjacobs opened #53 "Provide mapping of field names / value spaces to ISO 20022 fields/values"
Suggested by Kris Ketels

[2017-05-02 08:01] CYV commented on #51
this proposal was taken into accoutn during the Chicago F2F.

[2017-05-02 08:01] #51 closed

[2017-05-03 10:19] mattsaxon commented on #53
Seems a sensible suggestion to me.

[2017-05-03 10:20] mattsaxon commented on #53
@ianbjacobs, I can't see Kris is in GitHub as a user so can't assign this issue to him. Can he not access GitHub?

[2017-05-03 11:07] mattsaxon commented on #52
I've added an example for BACS.

@CYV, can you provide an illustrative example from SEPA please?

[2017-05-03 11:39] mattsaxon commented on #41
Notifications added (to Push only at this stage) in PR https://github.com/w3c/webpayments-methods-credit-transfer-direct-debit/pull/54

[2017-05-03 20:56] mattsaxon commented on #41
Closed via PR #56.

[2017-05-03 20:56] #41 closed

[2017-05-03 21:03] mattsaxon opened #57 "purposeCode not mandatory for all CT schemes"
Having created an example for BACS, it becomes apparent that not all CT schemes need purposeCode.

The required attribute should be removed from this field

[2017-05-03 21:06] mattsaxon commented on #57
Resolved via PR #58

[2017-05-04 14:33] mattsaxon opened #59 "Should we us a URL PMI rather than a short-string"
Discussions at WG call suggested that use of short string was a 'bridging' technology and Google confirmed it would need a (small) change in the browser if we used a short-string.

We should therefore consider moving to URL.

However what would the URL be, more specifically, what domain would it be under?

[2017-05-04 14:37] ianbjacobs commented on #59
-1 to a URL here for the reasons that AdrianHB cited on the call today - there is no need for one given that there is no authority that needs to publish a payment method manifest spec.

[2017-05-04 14:44] mattsaxon commented on #57
Closed by PR merge

[2017-05-04 14:44] #57 closed

[2017-05-04 18:40] mattsaxon commented on #59
So long as we can resolve the method for easily adding short string I don't disagree.

[2017-05-05 10:28] mattsaxon commented on #46
Reference PR #60

[2017-05-05 11:20] mattsaxon opened #61 "Is there a need for a basic-credit-transfer (form filler) PMI?"
In addition to current push and pull model in the spec (where there is a payment app that does some 'real' work), do we need a simpler model that just allows the browser to perform form-filler type processing supplying the payer's account details to the merchant?

I'm not aware of any scheme, bank or PSP that supports this type of model today, though Direct Debit could work this way.

[2017-05-05 13:35] mattsaxon commented on #52
Added FasterPayments via PR #62

[2017-05-09 14:24] mattsaxon commented on #43
Closed as conversation has dead-ended.

[2017-05-09 14:24] #43 closed

[2017-06-13 15:11] ianbjacobs opened #64 "Is status information important in the response for a payer-initiated credit transfer?"
Is status information important in the response for a payer-initiated credit transfer?

[2017-06-13 15:31] ianbjacobs opened #65 "Relationship between requiredResponseFields and PR API flow"
The specification includes a definition of requiredResponseFields. @mattsaxon points out that the following might happen:
 * A payment app matches on the payment method and the requiredResponseFields capability.
 * The user authorizes the payment
 * The payment app may not be able to return all of the requiredResponseFields.

Matt's original text (from a note in the spec) was: "The above field is

[2017-06-13 15:35] ianbjacobs opened #66 "Is payeePaymentIdentificationMachineReadable redundant with PR API id?"
@mattsaxon points out that Payment Request API supports an id that can be used for reconciliation. Does this serve the purpose of payeePaymentIdentificationMachineReadable? If so, should
we remove payeePaymentIdentificationMachineReadable?

Ian

[2017-06-13 15:38] ianbjacobs commented on #66
Whoops, was redundant with https://github.com/w3c/webpayments-methods-credit-transfer-direct-debit/issues/47

[2017-06-13 15:38] #66 closed

[2017-06-13 15:52] ianbjacobs opened #67 "What mechanisms (if any) do we need to provent data tampering?"
@mattsaxon wrote: "How do we ensure that fields are not tampered with (e.g., malicious changes to the beneficiary)?. Similarly, it is important that the payeeName not be changed by the payer or the payment app in order to be sure that automatic controls at the payee’s bank will work. "

[2017-06-19 16:29] ianbjacobs commented on #46
Hi @mattsaxon,

Apologies -- although I had seen this thread, I had not noticed its relation to the bits of spec that I edited last week, changing from 2 PMIs to a filter. Reopening the issue as a result.

The main point I hear in favor of 2 PMIs is that "the flows are different." This raises an interesting question: is a payment method mostly about a data model, or is it a data model and correspo

[2017-06-19 16:30] ianbjacobs commented on #46
...sorry meant to reopen.

[2017-06-20 07:47] mattsaxon commented on #46
For me a PMI represents the interaction model and hence a change of flow or data can represent one.

I also believe that filters were added (I think I was one of the first to propose) to not adversely grow the number of PMI to huge numbers, specifically so we didn't end up with one per payment network.

Since there seem to be only 2 PMIs here, I don't tkink this is a large increase and the fact th

[2017-06-20 07:48] mattsaxon commented on #64
I believe it is. As a minimum, the app would like to know if the payment is Pending or Complete.

[2017-06-20 15:27] ianbjacobs commented on #64
From 20 June call, @vkuntz and Kris agree.
(Vincent: Technical validation: "received" all the way up to "settled")

[2017-06-20 20:06] ianbjacobs commented on #46
@mattsaxon, thanks for the comments. Based on your previous discussion and also discussion with Vincent and Kris today, I will return to the 2 PMI model in the next draft.

Ian

[2017-06-21 17:16] ianbjacobs commented on #53
Added first draft of mappings from Kris in:
 https://github.com/w3c/webpayments-methods-credit-transfer-direct-debit/pull/70

[2017-06-21 17:16] ianbjacobs commented on #64
Added statusInformation in:
 https://github.com/w3c/webpayments-methods-credit-transfer-direct-debit/pull/70

[2017-06-21 17:17] ianbjacobs commented on #46
Added back 2 PMIs in:
 https://github.com/w3c/webpayments-methods-credit-transfer-direct-debit/pull/70

[2017-08-18 07:40] CYV commented on #67
I aggree these are two important issues : nor the "payeeAccountNumber" nor the "payeeName" should be tampered (this is a major fraud scenario).
Could we imagine to sign those two fielsd with the merchant (payee) https key: controls could be made by payment app and also by the payerbank.

[2017-08-18 12:38] CYV commented on #65
Let me explain what I understood. After being waked up by the browser, the basic-credit-transfer App is supposed to gather the autorization of the user and to initiate the credit-tranfer at the payerBank. To initaite the credit transfer, the App will connect to the API of the payerbank (often named in Europe DSP2-API). As the DSP2-API is not standardised, we possibly have issues to match fields wi

[2017-08-18 12:39] CYV commented on #64
If it is so important (I beleive it is !) why not putting this field as required ?

[2017-08-18 13:02] CYV commented on #61
This is an interesting issue. Let assumed we have a form filler inbsted of an App. This means that data (fields) will be sent to the merchant in order for it to initiate the credit transfer. In Europe, this is possible through the DSP2 regulation: actually, the merchant will delegate the initiation of the credit-transfer to a PISP (Payment Initiation Service Provider, body with specific regulation

[2017-08-18 13:08] CYV commented on #59
I understand the reason of AdrianHB... but maybe we could see from another angle. Is the basic-credit-transfer a specification to be used, that is "as is" or to be derived. for example, we could imagine, Sepa-credit-transfer, Swift-credit-transfer, fasterpayment-credit-transfer and so on. Thos different specs will be "almost" the same but dedicated and managed by the right authority.
It could be e

[2017-08-18 15:03] CYV commented on #52
add a sepa example with IBAN and BIC

[2017-08-18 15:09] CYV commented on #46
I think we could go firther in this issue with the "form filler approach". As I try to explain in the previous thred, the form filler approach is only for the Pull-CT and we could see that the datamodel is quite different.

waiting for your comments on this subject.

[2017-08-21 06:33] mattsaxon commented on #67
Why don't we sign the whole response or indeed encrypt it to prevent tracking? I'd suggest we provide the key in the requestData as the payment app may not have easy access to the merchants public key in the https very if it is 3rd party.

[2017-08-21 06:35] mattsaxon commented on #64
+1

[2017-08-21 06:40] mattsaxon commented on #52
@cyv, what does your comment mean? Do you intend to add the example as I have?

[2017-08-22 09:26] CYV commented on #67
I aggree, it seems better to put the public key in the request data. Actually, this key must be a certificate in order to be controlled independently. (doing this, arn't we recreating SCAI by the way ;-)

ok to mention that the message (with IBAN) could be signed either by merchant or third party.

nevertheless, I suggest we sign only and let the encryption for the https.

[2017-08-30 15:01] ianbjacobs commented on #59
Hi @CYV,

(We had similar discussions in the context of talking about gateway tokenization.)

One idea is for specific payment methods to refer to the basic credit transfer specification's
data model (e.g., by extending or specializing it). That would foster some interoperability.

Ian

[2017-08-30 15:09] ianbjacobs commented on #61
Hi @mattsaxon and @CYV,

I am not sure what "form filler" means. Does it mean the browser will natively implement the payment method and provide a form for the user to input data?

@CYV, two of the three fields you listed are already in the payment response data (payerBankCode and payerName). Are you suggesting that we add payerAccountNumber, which might be used
either by the browser or by third p

[2017-08-30 15:23] ianbjacobs commented on #64
I have removed "optional" from the spec.
Do we need to say more about what response values can appear in this field?

[2017-08-30 18:00] ianbjacobs commented on #67
One thing we have been talking about in the tokenization task force is to pass a URL that identifies a public key. The payment app (which could be the browser) fetches the key and does the encryption.
Thoughts?

I will keep you posted of other ideas about encrypting data from the tokenization task force.

Ian

[2017-09-07 15:45] ianbjacobs commented on #61
We have started work on a simpler credit transfer spec that is designed for less data when PISPs are regulated and have relationships such that they have the data:
  https://w3c.github.io/payment-method-pisp-credit/

[2017-11-09 21:49] mattsaxon commented on #46
Update: a discussion was had at TPAC about returning to a single PMI and also folding in the PISP-credit-transfer PMI.

This discussion remained unresolved due to lack of time, but I suggest we continue the debate here.

[2017-11-10 05:07] cyberphone commented on #46
Before restructuring the project, it might be worth considering the fact that a "true" push solution only supports direct, one-off payments rendering it pretty inferior compared to card schemes.

Pull CT has no such limitations.  Recently upgraded [Pull CT State Diagram](https://cyberphone.github.io/doc/saturn/saturn-authorization.pdf).

As can be seen in the state diagram, Pull CT can also _decou

[2017-11-10 16:56] mattsaxon opened #71 "Repository Structure Refinement"
- [ ] Merge PISP repo into this one https://github.com/w3c/payment-method-pisp-credit
- [ ] Rename repo to webpayments-methods-credit-transfer
- [ ] Merge into single spec, maintaining 3 PMIs

[2017-11-10 17:57] mattsaxon commented on #67
So for Payer/Payee-Credit-Transfer we propose to sign the request only. There is no signature of encryption needed on the response.

For PISP-credit-transfer there is no requirement for signature or encryption.

Can we get consensus to that choice?

- [ ] Cyril
- [ ] Vincent
- [x] Ian

[2017-11-10 18:00] mattsaxon commented on #65
@CYV, I believe you are correct entirely.

@ianbjacobs, @CYV, the use of requiredFields could allow to not need to create a specific-credit-transfer.

[2017-11-10 18:02] mattsaxon commented on #64
We need to provide a canonicalisation I think. I suggest something like; "Authorised", "Accepted", "Processed", "Cleared", "Settled".... @vkuntz , does ISO have a suggested category list for this?

[2017-11-10 18:04] mattsaxon commented on #61
Given that this spec is now created, I propose we close this issue

[2017-11-10 18:05] #61 closed

[2017-11-10 18:05] mattsaxon commented on #59
There is nothing stopping people taking this spec as is and using the data structures. This would make this spec the equivalent of an abstract base class. I have no issue with that. Does everyone concur?

[2017-11-10 18:06] mattsaxon commented on #47
@CYV, do you have a perspective on this?

[2017-11-10 18:11] mattsaxon commented on #46
@cyberphone, this flow would appear to be very similar to Cyril's PISP-Credit-Transfer PMI with some additional crypto on top (which I support).

Were just discussing how to deal with crypto in the payment payload so will have an update soon on this. Your opinion will be valued on this.

[2017-11-10 18:13] cyberphone commented on #67
@mattsaxon

All PISP APIs define their own security mechanisms.

[2017-11-10 18:35] mattsaxon commented on #67
@cyberphone, watch this space for a proposal on signature or encryption. My view is that it should be optional for PISP-credit-transfer, do you believe it should be mandatory? If so, can you provide an explanation?

[2017-11-11 04:30] cyberphone commented on #46
@mattsaxon @CYV Well, there is a fundamental difference:  PISPs rely on "Open Banking"  kind of [APIs](https://www.openbanking.org.uk/read-write-apis/payment-initiation-api/v1-1-0/) where payers authorize requests in their on-line bank pretty much like in the Dutch [iDEAL](https://www.ideal.nl/demo/?screens=dskweb), whereas [Saturn](https://github.com/cyberphone/saturn/blob/master/PSD2.md#saturn--

[2017-11-11 04:59] cyberphone commented on #67
@mattsaxon I would start in another end by defining the possible purpose (and consumer) of a security solution.

Although message encryption may be cool, it introduces key distribution issues which must be addressed from the very beginning.  [Saturn](https://cyberphone.github.io/doc/saturn/) (my "brainchild"), encrypts _Authorization Data_, _Card Numbers_, and _Private Messages_ using three entire

[2017-11-11 05:08] cyberphone commented on #67
Since your system doesn't build on an end-2-end security scheme, there are probably huge limitations to what you can add in terms of signatures and encryption.

[2017-11-15 11:01] cyberphone commented on #67
@CYV @mattsaxon Signatures is a generally difficult (to agree on) issue.  The Financial API folks rejected the signature solution used by the Berlin Group as well as STET.  See 9/G:
http://lists.openid.net/pipermail/openid-specs-fapi/attachments/20171115/86bf05d0/attachment-0001.pdf
"It is just an individual IETF draft that any person can come up at any day"

http://lists.openid.net/pipermail/open

[2017-11-17 08:03] saathvika commented on #46
can u please explain pull credit transfer, push credit transfer, sync credit transfer,  async credit transfer and the same pull push sync and async for RFP(request for payment )

[2017-11-17 08:40] cyberphone commented on #46
@saathvika Let me try...

Pull CT: The Merchant has (in some way) obtained an authorization token which it can send (via a provider or not) to the Payer's bank for fulfillment.  This is similar to card payments

Push CT: The Payer authorizes the payment request in his/her on-line bank context.  This is similar to wire transactions

Sync: The payment process is dealt with as a single step

Async: T

[2017-11-18 03:15] saathvika commented on #46
hey @cyberphone! thank you so much for making me to understand these 4. but regarding 4th one async,  i have following doubts..  please clarify.
1.
Your words:The payment process consists of initiations and execution phase which typical for batch payments.
My understanding  : While  initiating a payment bulk payments cannot be done,  right? ,  it happens between one to one. I mean ordering custome

[2017-11-18 06:04] cyberphone commented on #46
@saathvika As far as I understand banks validate payment authorizations but do not necessarily immediately act upon them.  There are both technical reasons (like an entirely separate payment engine) and business reasons (holding money in order to get interest from it aka "float") for such arrangements.  After a certain time they run all payments for a particular period as a batch job.

Exactly how

[2017-11-21 17:48] ianbjacobs commented on #71
@mattsaxon,

I think the new name should align with basic card, namely: payment-method-credit-transfer.

[2017-11-21 17:54] ianbjacobs commented on #71
I made the repo name change and also redirected old links to the new repo name.

I understand the "merge PISP" part here. For the PISP repo, can we just leave it as is with a note at the top that says "we are no longer using this repo; go look at this other one"?

Ian

[2017-11-22 15:31] ianbjacobs commented on #71
I have marked the PISP repo as deprecated and hope that suffices. I have added a link to the "one true credit transfer repo".

Next up: merge the specs.

[2017-11-22 15:41] ianbjacobs commented on #65
Hi @mattsaxon,

You assigned an action to me but I'm not sure what it is. Could you clarify? Thank you,

Ian

[2017-11-29 09:17] saathvika commented on #71
could you please tell me,  what is the use of remittance information in PMI(manually initiating payment )

[2017-12-04 10:45] saathvika commented on #46
could you please tell me, what is the use of remittance information in PMI(manually initiating payment )

[2017-12-11 22:26] ianbjacobs commented on #71
@CYV and @mattsaxon,

What has to be done to merge the two specs into one? Who has the ball on this?
Ian

[2018-03-09 09:11] cyberphone opened #72 "Open Banking in the UK took another route"
FWIW, the Open Banking Implementation Entity (OBIE) in the UK have in various forums indicated that they do not believe in the PISP model as originally envisioned since that would give banks too much control over both processes and the UI.

What they assume will be their model, is that the user performs a _one-time consent to a PSP_.  After that, the user is only authorizing payments to the PSP th

[2018-12-23 12:10] nkosi23 opened #73 "Regarding the issues raised for Pull Credit Transfer"
The [Pull Credit Transfer Wiki Page](https://github.com/w3c/payment-method-credit-transfer/wiki/Pull-Credit-Transfer) raises the following issues:

Regarding 3., while the bank cannot authenticate the merchant, does it really need to? When a consumer pays by card or withdraws cash to give it to someone, does he expects his bank to authenticate the recipient or arbitrate the transaction? The answer

[2018-12-23 13:05] cyberphone commented on #73
Short return on point 3:
There are Web payment schemes which _presume_ that merchants are authenticated like shown in:
https://github.com/w3c/payment-method-credit-transfer/issues/42#issuecomment-289415093

[2018-12-23 15:51] nkosi23 commented on #73
This would only apply for Payee Initiated Credit Transfers. The implementation of such an authorization would be up to the PSD2 financial institution providing merchant services, so I would say that this is out of scope (as suggested to you in the thread you linked).

Payee Initiated Credit Transfers where the merchant's payment processor talks directly to the consumer's bank are different from Pu

[2018-12-23 16:54] cyberphone commented on #73
It is possible that I'm misinterpreting this but it seems that the thing I mentioned is under consideration:
https://www.w3.org/blog/wpwg/2018/11/02/tpac-2018-recap/
_For the second topic, Generic Payment Tokens, Adrian described the pitfalls of push payment flows: where the user’s bank initiates a payment (e.g., credit transfer) outside of the control of the merchant. Adrian offered an alternativ

[2018-12-23 21:08] nkosi23 commented on #73
The point of this is not authorization/authentication in the sense you have in mind. It is purely about standardizing the format of requests/responses using a scalable model minimizing the integration burden of merchants while maximizing opportunities for payment handlers at the same time. But I feel it may be more appropriate to continue this discussion in the thread you linked.

However, inciden

[2018-12-24 07:46] cyberphone commented on #73
Why would you use a database of payment schemes when you have `PaymentRequest`?  If a merchant announces its support for a SEPA Credit Transfer payment, the corresponding handler (if the user has one) should be possible to select in the `PaymentRequest` UI.

A question is how and when the merchant's receive account should be introduced.  FWIW, in the scheme I'm working with (where the merchant ind

[2018-12-24 10:21] nkosi23 commented on #73
What I meant is that the browser would maintain a list of _well-known_ payment handlers such as SEPA. This database could be as simple as a plain text data file shipping with the browser.

[2018-12-24 14:39] cyberphone commented on #73
I must confess that I don't understand what you want to achieve.  Is it about performing credit transfer in browsers?  Personally I don't think this is a workable approach because SEPA SCT is a backend system.  When you do a regular wire-transfer in an on-line bank the browser is only used for enabling the user to specify source and destination accounts and finally authorize the payment.  No ISO 2

[2018-12-24 20:49] nkosi23 commented on #73
According to you what is the point of W3C Payments? What will they allow merchants and users to achieve? And which innovations do they bring to the table? I think you may need to clarify this in your head, the W3C draft is however clear.

While I slightly disgressed by courtesy to accomodate your questions, I hope someone will address the gist of the thread, which is providing me the official view

[2018-12-25 05:26] cyberphone commented on #73
Dear @nkosi23  I'm also following various Open Banking API developments like: https://openid.net/wg/fapi/
In those APIs security issues have been top priority while hardly mentioned in the W3C credit transfer spec.  This is my sole concern.

_A payment token concept would turn the current credit transfer spec upside down_.  FWIW, I have begun investigating how such a scheme could hook into Open Ba

[2018-12-25 08:07] nkosi23 commented on #73
Because it doesn't need to. This concern is out of scope, this is what you need to understand. Moreover this doesn't make the API any less secure, it will be as secure as payment handlers make it.

You make it sound like banks have been leaders in opening up their core. Quite honestly it's about time they move their a***s. The more roads to their core the better, creating a new interface for the P

[2018-12-25 20:49] cyberphone opened #74 "Payment Token / Open Banking API integration"
If the following is under consideration:
https://www.w3.org/blog/wpwg/2018/11/02/tpac-2018-recap/
_For the second topic, Generic Payment Tokens, Adrian described the pitfalls of push payment flows: where the user’s bank initiates a payment (e.g., credit transfer) outside of the control of the merchant. Adrian offered an alternative flow where the party that initiates a pull payments returns a (“re

[2018-12-26 07:31] cyberphone commented on #73
https://github.com/w3c/payment-method-credit-transfer/issues/74

[2018-12-26 15:17] nkosi23 commented on #73
Some additional thoughts regarding my comments on redeemable tokens.

My thinking is that the redeemable token approach requires the merchant to know how to redeem the token (namely how to interact with the API of the payment scheme). This is great as it moves the standardisation of the various payment schemes out-of-band from the PaymentHandlers specification's perspective. However I do think tha

[2018-12-26 16:28] cyberphone commented on #73
Indeed, this was one of the prime motivations for adopting this flow in Saturn.  Another reason is that multiple step payment like Reserve/Actual for automatic gas stations becomes very simple to support.

This what Saturn does.  IMO, the API is fairly modest but has probably not been reviewed by anybody but me so it could be total crap 😎
https://cyberphone.github.io/doc/saturn/saturn-v3-presentat

[2018-12-26 16:53] nkosi23 commented on #73
Pull Credit Transfers also bring up the question of recurring payments. I am thinking that a minimalist standardization of redemption tokens could be introduced, the rules could be as follow:

- Payment handlers always return a redemption URL (whether the payment is instantaneous as with credit cards and certain bank transfers, or asynchronous like bitcoin)
- we could specify that sending a POST r

[2018-12-27 06:13] cyberphone commented on #73
There's just one snag; something along these lines would not only be a veritable "reboot" of the credit transfer work item, but also likely impact other W3C Payment activities including the recently started https://www.w3.org/securepay/charter.html

Saturn will thus probably be rather alone with the Payment Token concept which is both a blessing and a curse.  The following things are currently on

[2018-12-27 09:12] nkosi23 commented on #73
Not necessarily, this can potentially be added to the current flow without changing anything else. This mainly affects payment handlers' implementations.

[2018-12-28 05:53] cyberphone commented on #73
To me Payment Tokens represent a quite different path with respect to:
- Request data
- Response data
- Flow
- UI considerations
- Extensibility
- Security/Privacy/Trust model

It would probably be wise calling it Payment Token and run it as a separate work item to avoid the "reboot" fuzz.

[2018-12-28 15:59] nkosi23 commented on #73
You may be right, it really depends of how they see things. This is by the way the main reason I started this thread. I am sharing these remarks so that they can comment on each item and tell us how they see things so we can have a clearer picture of where we are going and what they have in mind.

Maybe in the process they'll also see some ideas / perspectives they didn't think about and find valu

[2019-01-29 06:31] cyberphone commented on #73
@nkosi23 As you can see there is not a lot of activity in this repository and the state of the excellent **PaymentToken** idea is unknown @adrianhopebailie

Fortunately a variant of **PaymentToken** already exists and is fully documented as well.

[2019-01-31 14:44] adrianhopebailie commented on #73
@cyberphone the PaymentToken idea was floated at the last face-to-face.

There hasn't been any momentum yet so any ideas are welcome.

[2019-01-31 15:28] cyberphone commented on #73
@adrianhopebailie From what I can see it should be possible implementing such a thing using `PaymentHandler` and `WebAuth` "as is" as well as using `PaymentRequest` and a native "Wallet" application.

The problem with `PaymentToken ` is that it has "side-effects" which could affect work items like:
- Tokenization
- Secure payments
- Open Banking (in it is intended usage)
- ISO 20022
- The current

[2019-01-31 22:52] nkosi23 commented on #73
@cyberphone  You keep framing Payment Tokens as a separate and even conflicting endeavor (apparently in an effort to cast your Saturn project as a drop-in and market-ready alternative), while Payment Tokens actually nicely fit within the current Credit Transfer framework.

This is starting to become annoying as it creates noise and confusion and sorts of hijack this discussion. Can you please refr

[2019-01-31 22:57] nkosi23 commented on #73
@adrianhopebailie Good to hear, I will then seek to condense all these remarks into a more formal and comprehensive technical proposal (bridging gaps, naming parameters, describing behaviors more exhaustively etc...). Quite busy these days but hopefully I will post this here shortly so that it can be discussed and hopefully get the ball rolling.

[2019-02-01 04:52] cyberphone commented on #73
@nkosi23 could you elaborate on how Payment Tokens would fit into the current Credit Transfer framework?  If so, begin with the flow because parameters are not that important at this early stage.  It is more on the level "Who is doing What with Whom and Why?" Given the scarcity of information it is possible that Saturn is something entirely different because it has essentially nothing in common wi

[2019-02-01 05:17] cyberphone commented on #73
@nkosi23 There are also very basic questions that are not answered by the Credit Transfer framework like the authentication of the Merchant.  In my take on Payment Tokens, the integrity of the whole system requires that _all messages are digitally signed_.  This is not only only for maintaining technical security, but to cope with AML (fully identified beneficiaries).  A difficulty here is establi

[2019-02-01 07:06] nkosi23 commented on #73
@cyberphone The flow wouldn't even change but would remain the one described in the draft spec at 90% at least. I think your real need is to understand the spec (scope etc...) because while I may include a flow diagram at some point, I will not further divert this thread by turning it into an explanation of the spec/ flow.

What's required here is a proposal in terms of normalization, as mentioned

[2019-02-01 08:39] cyberphone commented on #73
@nkosi23 In https://w3c.github.io/payment-method-credit-transfer/#payer-initiated-0 there is no authentication of the Merchant(Payee) to the User's bank in step 2/3.

[2019-02-01 08:46] cyberphone commented on #73
@nkosi23 In https://w3c.github.io/payment-method-credit-transfer/#payer-initiated-through-payee one might claim that step 8 represents a Payment Token redeeming.  However, this is done through a TTP (and associated security and trust solutions) which is not necessarily how this was supposed to work @adrianhopebailie

[2019-02-01 09:30] nkosi23 commented on #73
I will not continue this side discussion as far as I am concerned, this is going in circle and hijacking this thread.

[2019-02-01 09:58] cyberphone commented on #73
You raised the Merchant authentication issue.  I claim that Merchants need more than a SEPA bank account in order to accept SEPA Credit Transfer payments on-line. That is, a Merchant should (in some way) be authenticated as a _licensed_ payment partner.  Who can perform this authentication?  Wouldn't the Merchant's bank holding its SEPA account be a suitable entity in the https://w3c.github.io/pay

[2019-02-01 11:15] cyberphone commented on #73
In https://w3c.github.io/payment-method-credit-transfer/#payer-initiated-0 it might even be possible performing a phishing attack where the destination account would be changed to the attacker's. @CYV

[2019-02-02 09:48] cyberphone commented on #73
@nkosi23 A work item that aims for becoming an **International Standard** cannot leave out authentication of Merchants to the User's bank (unless there is a TTP in between who presumably vouches for the authenticity/legitimacy of the Merchant).

That this is "impossible" as stated in the Wiki is not based on facts.  Lots of systems including Saturn already do that.
@adrianhopebailie @ianbjacobs @m

[2019-10-21 16:31] cyberphone commented on #74
I'm currently performing a PoC implementation:
https://github.com/cyberphone/swedbank-psd2-saturn
The initial results seem quite promising.

[2019-10-26 05:48] cyberphone opened #75 "OAuth2 & Open Banking Integration missing"
I'm currently exploring Open Banking APIs based on OAuth2.
I cannot find any correlation between this work item and existing Open Banking APIs.
If this work item is still considered relevant, I believe it requires a major upgrade.